* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #23252C;
}

.container {
  width: 550px;
  height: 868px;
  position: relative;
  margin: 0 auto; 
}

/* info section */ 

.info--name {
  position: absolute;
  width: 178.06px;
  height: 25.81px;
  left: 186px;
  top: 382px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.info--title {
  position: absolute;
  width: 178.06px;
  height: 14.19px;
  left: 186px;
  top: 414px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #F3BF99;
}

.info--website {
  position: absolute;
  width: 228px;
  height: 16px;
  left: 161px;
  top: 437px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 150%;
  text-align: center;
  color: #F5F5F5;
  text-decoration: none;
}

/* about & interest section */

.about {
  position: absolute;
  width: 247px;
  height: 201px;
  left: 152px;
  top: 535px;
}

.interests {
  position: absolute;
  width: 247px;
  height: 201px;
  left: 152px;
  top: 700px;
}

.about--img {
  position: absolute;
  width: 317px;
  height: 317px;
  left: 116px;
  top: 44px;
  border-radius: 10px 10px 0px 0px;
}

.about--title, .interests--title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #F5F5F5;
}

.about--text, .interests--text {
  padding-top: 5px; 
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 150%;
  color: #DCDCDC;
}

/* footer section */

.footer {
  margin-top: 50px; 
  position: absolute;
  width: 317px;
  height: 64px;
  left: 116px;
  top: 760px;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
}

